nav {
  background-color: rgb(86, 186, 236);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}



